

<p> <%= @request.name + ' ' + @request.second_name %>, ваше заявление на оформление кредитной карты одобрено, перейдите для <a href= 'http://localhost:3000/maps/choose#bank'> выбора способа подачи документов</a>. </p>
