            <div class="parallax-container" slot="header">
                <div class="parallax">
                    <img src="https://media.giphy.com/media/7cTJ3gWVsoC08/giphy.gif">
                </div>
                <h1 class="header-desktop">Альфа-банк без границ</h1>
            </div>
            <div class="section">
                <div class="row header-mobile">
                    <a-heading size="xl">Альфа-банк без границ</a-heading>
                </div>
                <div class="row" style="text-align: center;">

                </div>
                <form action="requests/new">
	                <div class="row" style="text-align: center;">
	                    <a-heading size="l">Зарегистрировать карту</a-heading>
	                    <div class="col m6 offset-m3 s12">
	                        <%= link_to image_tag("https://alfabank.ru/r/CE197A07-86BB-42A5-B815-9A3EE31E6156/alfacards_09.png"), :action => 'new', class: 'rtt' %>
	                    </div>
	                </div>
                </form>
            </div>