            <div class="parallax-container" slot="header">
                <div class="parallax">
                    <%= image_tag("Credit.jpg") %>
                </div>
                <h1 class="header-desktop">Анкета на оформление кредитной карты</h1>
            </div>

            <div class="section">
	            <div class="row header-mobile">
	                <a-heading size="xl">Анкета на оформление кредитной карты</a-heading>
	            </div>

				<%= render 'form'%>
            </div>

