           

            <div class="parallax-container" slot="header">
                <div class="parallax">
                    <%= image_tag("Items.jpg") %>
                </div>
                <h1 class="header-desktop">Подтверждение заявки</h1>
            </div>

            <div class="section">
                <div class="row header-mobile">
                    <a-heading size="xl">Подтверждение заявки</a-heading>
                </div>
                  <div>
                    <div class="center-align">
                        <a-heading size="l">Введите код, полученный по SMS</a-heading>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 offset-m4 s8 offset-s2">
                            <input id="num_control" type="text" class="validate"
                                name="request[code]" required pattern="[0-9]{6}">
                            <label for="num_control">Код</label>
                        </div>
                    </div>
                    <div class="row center-align">

                        <button id="sub" class="btn waves-effect waves-light red darken-1" type="submit" name="action" onclick="check()">Отправить
                                <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                <div class="row center-align" id="result"></div>
            </div>